<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.barradatijuca" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Barra Da Tijuca</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>

    <feature name="http://api.phonegap.com/1.0/geolocation" />
    
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>

    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.device" version="0.2.3" />
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
    <plugin name="InAppBrowser" value="CDVInAppBrowser" />

    <content src="index.html" />
    <access origin="*" />
</widget>
